@import "./main.css";

/* common styles  */
.branding,
nav .navbar {
  gap: 20px;
}

/* branding section styles  */
.brand {
  width: 18rem;
}

.brand figure {
  width: 9.375rem;
  height: 9.375rem;
}
.brand figure img {
  width: 100%;
  height: 100%;
}

.brand-information {
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  gap: 1.75rem;
}

.brand-information .social-icons {
  gap: 1rem;
}

.social-icons .icon-item {
  padding: 6px 12px;
  border-radius: 50%;
  background-color: #f8f7f0;
}

.social-icons .icon-item .icon-link i {
  font-size: 14px;
}

/* nav section styles  */
nav {
  justify-content: space-between;
  align-items: center;
}
