@import "./main.css";

/* common styles  */
.branding,
nav .navbar {
  gap: 20px;
}

/* branding section styles  */
.brand {
  width: 6rem;
}

.brand figure {
  width: 100%;
}

.brand figure img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.brand-information {
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 3.25rem;
}

.brand-information .social-icons {
  gap: 0.85rem;
}

.social-icons .icon-item {
  padding: 6px 12px;
  border-radius: 50%;
  background-color: #f8f7f0;
}

.social-icons .icon-item .icon-link i {
  font-size: 14px;
}

.brand-information .info-container {
  gap: 1rem;
}

.info-container .info-icon {
  width: 1.75rem;
  /* height: 1.75rem; */
}

.info-container .info-icon img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.info-container .info-text-container .info-sub-text {
  color: #878680;
  font-weight: 600;
  font-style: 0.75rem;
  line-height: 20px;
  text-transform: capitalize;
}

.info-container .info-text-container .info-text {
  color: #1f1e17;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 20px;
}

/* nav section styles  */
nav {
  justify-content: space-between;
  align-items: center;
}
