@import "./main.css";

/* common styles  */
.branding,
nav .navbar {
  gap: 20px;
}

/* branding section styles  */
.brand {
  width: 6rem;
}

.brand figure {
  width: 100%;
}

.brand figure img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.brand-information {
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 3.25rem;
}

.brand-information .social-icons {
  gap: 0.85rem;
}

.social-icons .icon-item {
  padding: 6px 12px;
  border-radius: 50%;
  background-color: #f8f7f0;
}

.social-icons .icon-item .icon-link i {
  color: #1f1e17;
  font-size: 14px;
}

.brand-information .info-container {
  gap: 1rem;
}

.info-container .info-icon {
  width: 1.75rem;
}

.info-container .info-icon img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.info-container .info-text-container .info-sub-text {
  color: #878680;
  font-weight: 500;
  font-style: 0.75rem;
  line-height: 20px;
  text-transform: capitalize;
}

.info-container .info-text-container .info-text {
  color: #1f1e17;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 20px;
}

/* nav section styles  */
nav {
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-item .nav-link {
  color: #1f1e17;
}

/* -----------------responsive styles---------------  */
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  /* common style  */
  .mf-last-item {
    order: 4;
  }

  .branding {
    flex-direction: column-reverse;
  }

  .brand {
    width: 8rem;
  }

  .brand-information {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  .brand-information .info-container {
    width: 48%;
    gap: 1rem;
    justify-content: flex-start;
  }

  .info-container .info-icon img {
    width: auto;
  }
}

/* extra small devices(less than 576px)  */
@media (max-width: 575px) {
  /* common style  */
  .mf-last-item {
    order: 4;
  }

  .mf-none {
    display: none;
  }

  .branding,
  .brand-information,
  .brand-information .info-container {
    flex-direction: column;
  }

  .info-container .info-text-container .info-sub-text,
  .info-container .info-text-container .info-text {
    text-align: center;
  }

  /* branding section styles  */
  .brand {
    width: 6.75rem;
  }

  .brand-information {
    justify-content: center;
    align-items: center;
    gap: 0.85rem;
  }

  .brand-information .info-container {
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #e4e2d7;
  }
  .info-container .info-text-container .info-sub-text {
    padding-bottom: 3px;
  }
}
