/* import google font 'manrope' & 'inter' */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

/* reset all styles  */
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* common styles  */
body {
  font-family: "Manrope", sans-serif;
}

.container {
  width: 80%;
  margin: 2.75rem auto 3.125rem;
}

.mf-flex {
  display: flex;
}

.mf-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
