/* import google font 'manrope' & 'inter' */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

/* reset all styles  */
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* common styles  */
body {
  font-family: "Manrope", sans-serif;
}

.container {
  width: 80%;
  margin: 2.75rem auto 3.125rem;
}

.mf-flex {
  display: flex;
}

.mf-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----------------responsive styles---------------  */
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.99px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.99px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.99px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.99px) {
  .container {
    width: 90%;
    margin: 2rem auto 2.75rem;
  }
}

/* extra small devices(less than 576px)  */
@media (max-width: 575.99px) {
  .container {
    width: 90%;
    margin: 2rem auto 2.75rem;
  }
}
